{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
      @media (min-width: 1200px) {
            .container-fluid {
                max-width: 1500px;
            }
        }

    body {
        -webkit-text-fill-color: #cad1db;
         background-image: url({% static 'images/bg/bg05dk.png' %}); !important;
         height: 1080px; !important;
         background-attachment: fixed; !important;
         background-position: center; !important;
        background-repeat: no-repeat; !important;
        background-size: cover; !important;
         -webkit-text-fill-color: #cad1db;
        backdrop-filter: brightness(400%);
    }

      .jumbotron{
        border-color: #007bff;
        border-style: solid;
         background-image: url({% static "images/bg/bg05.png" %});
          background-position-y: center;
         -webkit-text-fill-color: #cad1db;
    }
    </style>

    <body>
    <br>
    <br>
    <br>
<div class="container-fluid">
        <div class="jumbotron jumbotron-sm">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1"><span style="background-color: #ab078a">Contact Us!</></h1>
                     <span class="lead"><p><span style="background-color: #ab078a"> Please let us know how we can help with your next project!</p></small>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm">
            <form id="contactform" action="https://formspree.io/mpzadpvv" method="POST">
                <div class="col ">
                    <div class="col-sm">
                        <div class="col form-group" align="center">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="email" name="_replyto" placeholder="Email" type="email" required>
                            </div>
                    </div>
                        <textarea class="form-control" id="comments" name="message" placeholder="Message" rows="5"></textarea><br>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-outline-primary btn-md" type="submit">Send</button>
                                </div>
                            </div>

            </form>
        </div>
        <br>
        <br>
        <div class="col-sm">
            <h1><span style="background-color: #ab078a"> SleekTiki Interactive LLC</span></h1>
            <p><span style="background-color: #ab078a"> 4135 St Martins Pl, Cincinnati, OH, 45211</span></p>
            <p><span style="background-color: #ab078a"> (413) 386-4698</span></p>
        </div>
    </div>
</div>
{% endblock %}
</body>
