{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
      @media (min-width: 1200px) {
            .container {
                max-width: 1500px;
            }
        }

    body {
        -webkit-text-fill-color: #007bff !important;
    }
    </style>

    <body>
    <div class="container">
        <div class="jumbotron jumbotron-sm">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                    Contact us <small>Please let us know if we can help!</small></h1>
                </div>
            </div>
        </div>

    <form id="contactform" action="https://formspree.io/mpzadpvv" method="POST">
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                     <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                    <div class="col-sm-6 form-group">
                         <input class="form-control" id="email" name="_replyto" placeholder="Email" type="email" required>
                    </div>
            </div>
                    <textarea class="form-control" id="comments" name="message" placeholder="Message" rows="5"></textarea><br>
                         <div class="row">
                            <div class="col-sm-12 form-group">
                                 <button class="btn btn-outline-primary btn-md" type="submit">Send</button>
                            </div>
                          </div>
        </div>
    </div>
    </form>
</body>
{% endblock %}